<!DOCTYPE html>
<html>

<head>
    <title>Έλεγχος αρχείου μετάπτωσης</title>
    <style>
        .styled-table {
            width: 100%;
            border-collapse: collapse;
            font-family: Arial, sans-serif;
            margin-top: 1rem;
        }

        .styled-table th,
        .styled-table td {
            padding: 12px 16px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        .styled-table th {
            /* background-color: #f4f4f4; */
            background-color: #bed7ee;
            font-weight: bold;
        }

        .styled-table tbody tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        .styled-table tbody tr:hover {
            background-color: #f1f1f1;
        }

        /* .styled-table td:last-child {
          text-align: right;
          font-weight: 500;
        } */
    </style>
</head>

<body>
    <main style="padding: 20px; width:800px; margin: auto;">
        <h2  style="text-align: center;">Έλεγχος αρχείου μετάπτωσης (.xlsx)</h2>

        <div>
            <form method="post" enctype="multipart/form-data">
                <div style="width: 355px; margin: auto;">
                    <div>
                        <span style="font-weight: bold;margin-inline-end: 10px;">Δομή/Σχολή</span>
                        <select name="school">
                            <option value="1">ΕΠΑΣ</option>
                            <option value="2">ΠΕΠΑΣ</option>
                            <option value="3">ΣΑΕΚ</option>
                            <option value="95">ΑΜΕΑ ΑΘΗΝΑΣ</option>
                            <option value="33">ΑΜΕΑ ΘΕΣΣΑΛΟΝΙΚΗΣ</option>
                        </select>
                    </div>
                    <div style="margin-block: 10px;">
                        <span style="font-weight: bold;margin-inline-end: 10px;">Αρχείο excel</span>
                        <input type="file" name="file" title="Επισύναψη" accept=".xlsx">
                    </div>
                    <input type="submit" value="Έλεγχος" style="width: 100%;">
                </div>
                
            </form>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul style="color:red;">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}

            <!-- {% if missing_columns %}
            <h3>Στήλες που λείπουν:</h3>
            <ul>
                {% for error in missing_columns %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
         -->

            {% if data.errors %}
            <h3>Σφάλματα αρχείου:</h3>
            <ul style="color:red;">
                {% for error in data.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            
            {% if data.existing_students %}
            <h3 style="color:red;">Υπάρχοντες μαθητές στο σύστημα: {{data.existing_students|length}}</h3>
            <table class="styled-table">
                <thead>
                    <th style="background-color: red; color: whitesmoke;">ΑΦΜ</th>
                </thead>
                <tbody>
                    {% for s in data.existing_students %}
                    <tr>
                        <td>{{s}}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            {% endif %}

            {% if data.prev_periods %}
            <h3 style="color:red;">Διδακτικές Ενότητες που δεν υπάρχουν στο σύστημα</h3>
            <table class="styled-table">
                <thead>
                    <th style="background-color: red; color: whitesmoke;">Ακαδ. Έτος</th>
                    <th style="background-color: red; color: whitesmoke;">Διδ. Ενότητες</th>
                </thead>
                <tbody>
                    {% for s in data.prev_periods.keys() %}
                    <tr>
                        <td>{{s}}</td>
                        <td>{{','.join(data.prev_periods[s])}}</td>
                        <!-- <td>{% for p in data.prev_periods[s] %}
                            {{p}},
                            {% endfor %}
                        </td> -->
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            {% endif %}

            {% if data.section_students or data.part_students or data.students %}
            <h2>ΔΕΔΟΜΕΝΑ</h2>
            <p>Παρατηρήστε τα δεδομένα μήπως υπάρχει και κάποιο λογικό λάθος.</p>
             {% endif %}

            {% if data.section_students %}            
            <h3>Τμήματα: {{data.section_students|length}}</h3>
            <div style="max-height: 400px; overflow-y: auto;">
                <table class="styled-table">
                <thead>
                    <th>ΤΜΗΜΑ</th>
                    <th style="text-align: end;">ΠΛΗΘΟΣ ΜΑΘΗΤΩΝ</th>
                </thead>
                <tbody>
                    {% for sec, stud in data.section_students.items() %}
                    <tr>
                        <td>{%if stud.exist%}✅{%else%}❌{%endif%}{{sec}}</td>
                        <td style="text-align: end;">{{stud.total}}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            </div>
            
            {% endif %}

            {% if data.part_students %}
            <h3>Μερική Φοίτησης: {{data.part_students|length}}</h3>
            {% endif %}

            {% if data.students %}
            <h3>Μαθητές: {{data.students.data|length}}</h3>
            <table class="styled-table">
                <thead>
                    <th>ΑΦΜ</th>
                    <th>ΕΠΩΝΥΜΟ</th>
                    <th>ΟΝΟΜΑ</th>
                </thead>
                <tbody>
                    {% for s in data.students.data %}
                    <tr>
                        <td>{{s.vat}}</td>
                        <td>{{s.lastname}}</td>
                        <td>{{s.name}}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            {% endif %}

            {% if data.ac_years %}
            <!-- <h3>Ακαδημαϊκά έτη προς δημιουργία ή τροποποίηση: {{data.ac_years|length}}</h3> -->
            <h3>Ακαδημαϊκά έτη: {{data.ac_years|length}}</h3>
            <table class="styled-table">
                <thead>
                    <th>ΑΚΑΔΗΜΑΙΚΟ ΕΤΟΣ</th>
                    <th style="text-align: end;">ΥΠΑΡΧΟΥΣΕΣ ΠΕΡΙΟΔΟΙ ΓΙΑ ΤΗ ΔΟΜΗ</th>
                </thead>
                <tbody>
                    {% for s in data.ac_years %}
                    <tr>
                        <td>{%if s.exist%}✅{%else%}❌{%endif%}{{s.name}}</td>
                        <td style="text-align: end;">{%if s.periods > 0%}✅{%else%}❌{%endif%} {{s.periods}} </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            {% endif %}
        </div>
    </main>
</body>

</html>